.border-red {
  border: 5px solid red;
}

.border-blue {
  border: 5px solid blue;
}

.border-black {
  border: 5px solid black;
}

.border-green {
  border: 5px solid green;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.ico {
  background-color: white;
  width: 24px;
  height: 24px;
  display: block;
  /* border: 10px solid red; */
  background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
}